body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0% auto;
}
.flexiable-container {
    display: flex;
    margin-bottom: 150px;
   
}


.donation9{
   height: 500px;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
padding-bottom:30px;
}

.help-us{
    color:rgb(243, 59, 83);
   text-align: center;
   
}

.help-us h1{
padding-top: 10%;

}
.donate-title{
    text-align: center;
    padding: 20px;
}
.dt{
    color:maroon;
    padding: 20px;
    
}
.odp{
    color: rgb(7, 142, 245);
    padding: 20px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(201, 244, 120), rgb(245, 33, 33));
    padding: 10px 20px;
    border-radius: 5px;
}
.help {
    display: flex;
}

.help-plan{
    width: 25%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px 8px;
    border-radius: 10px;
    background-color: lightseagreen;
    font-family: sans-serif;
}
#hp{
    background-color:lightpink;
    color:darkgreen
}
#hp1{
    background-color: lightblue;
    color: crimson;
}
#hp2{
    background-color: lemonchiffon;
    color:darkorchid;
}

.box{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
}
.amount{
    padding: 30px;
    border: 1px solid gray;
    margin-right: 5px;
    border-radius: 10px;
    background-color: lightskyblue;
}
#box-border{
    border:3px solid red;
background-color:lightgoldenrodyellow
}
.other-amount{
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: center;} 

.doll input{
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style:hidden ;
    border-bottom-style:groove ;
    background-color: #eee;
    
}


    
.our-plan{
    margin-top: 20px;
    text-align: center;
}
.special{
    color: crimson;
    padding: 20px;
    text-align: center;
}
.sp-one{
    display: flex;
    padding: 10px;
    
}
.special-one{
width: 25%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px 8px;
    border-radius: 10px;
    
    font-family: cursive;
}
#sp1{
    color: darkred;
    background-color: rgb(84, 222, 222);
}
#sp2{
    color: darkslateblue;
    background-color: rgb(183, 239, 127);
}
#sp3{
background-color: rgb(236, 165, 139);
color: darkblue;
}
.help blog-info {
    background-color: burlywood;
    height: 50px;
    width: 50%;}

.update{
    
    margin-top: 20px;
 align-items: center;
 
 color: chocolate;
}
.Get-My-Updates{
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
    align-content: center;
}
.update-email {
    background-color: lightsteelblue;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    align-content: center;
    display: flex;
}
.form-wrapper{
    display: flex;
    width: 50%;
    height: 20vh;
    padding: 5px;
    background: rgb(193, 193, 249);
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 margin: 10px;
 align-content: center;
 margin: 0% auto;
}
.form-wrapper input{
    width:100px;
    
}
.form-wrapper button{
   background-color:red;
   
   
}
.special-one img{
    width:100% ;
}
.footer-title{
    font-family: cursive;
text-align: center;
background-color: rgb(1, 1, 5);
color:white;
padding-top: 20px;
margin-bottom: 5px;
}
.footer-title h2{
    color: crimson;
}









